.option-text-aligner {
  clear: none !important;
  width: auto !important;
}
.option-text-aligner .form-item {
  float: none !important;
}
ul.panels-ipe-linkbar li.style {
  display: none !important;
}
